  <div id="contact">
    <h1 id="name">David F. Andrew, DDS</h1>
    <h1 id="phone">253-752-2447</h1>
    <h3>2302 S Union Ave</h3>
    <h3>Building B, Suite 12</h3>
    <h3>Tacoma, WA 98405</h3>
    <h4>(Across from Target on Union Ave)</h4>
  </div>

  <img src="images/with_asst.jpg" id="with_asst" />

  <div id="blurb">
    <img src="images/no_asst.jpg" id="no_asst" />
    <p>David F. Andrew of Tacoma, WA offers gentle dental care for the entire family. Since 1975, we have been giving our patients healthy and lasting smiles. Family owned and operated, our dental clinic welcomes new patients and children every day.  Dr. David F Andrew received his degree from the University of Washington. He is also a proud member of the American Dental Association, the Washington State Dental Association, and the Pierce County Dental Association.
    </p>
  </div>

  <div id="info">
    <div id="proc">
      <h3>Dental Care Services Include:</h3>
      <ul>
        <li>Preventative Dentistry</li>
        <li>Cleanings</li>
        <li>Fillings</li>
        <li>Natural-Looking Crowns &amp; Bridges</li>
        <li>Cosmetic Dentistry</li>
        <li>Implant Restorative Dentistry</li>
        <li>Oral Surgery</li>
        <li>Root Canals</li>
        <li>Dentures</li>
      </ul>
    </div> <!-- end of about -->

    <div id="about">
      <h3>New Patients Welcome</h3>
        <ul>
          <li>Caring, Friendly &amp; Professional</li>
          <li>Soothing Nitrous Oxide</li>
          <li>Most Insurance Plans Accepted</li>
        </ul>
        <img src="images/visa.gif" id="visa" />
    </div>
  </div> <!-- end of info -->

  <section class="group">
    <div id="input_wrapper">
      <h2>Get directions to the office</h2>
      <input type="text" size="34" id="start" onFocus="this.value=''" value="Starting Point"/>
      <input type="text" size="56" id="end" value="David F. Andrew, DDS - 2302 S Union #12 Tacoma, WA" />
      <b>Mode of Travel: </b>
      <select id="mode" onchange="calcRoute();">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
      </select>
      <button id="get_directions">Get Directions</button>
    </div>
  
    <div id="directions_wrapper" class="group">
      <b>Formatted Directions</b>
      <div id="directions-panel" style="width: 275px"></div>
    </div>

    <div id="map_wrapper">
      <b>Map</b>
      <div id="map_canvas" style="width: 510px; height: 400px">
    </div>
  </section>
</div> <!-- end of wrapper -->