<!DOCTYPE html>
<html>
<head>
  <title>David F Andrew DDS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAgPItHylDTanR4p27lAlFSRRxQ8V4Mrxf3wLlJhtz-mOgNWVRiRSa_yylcA2kC_Sl1URB4r1CBvKWJQ" type="text/javascript"></script>
</head>

<body onload="initialize()" onunload="GUnload()">
  <div id="wrapper">
    <img src="images/banner.jpg" id="banner" />

    <%= yield %>
    
</body>
</html>
