<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  <title>David F Andrew DDS</title>
  <%= stylesheet_link_tag 'style.css' %>
  <%= javascript_include_tag :defaults, 'map.js' %>
  <%= csrf_meta_tag %>

</head>

<body onload="initialize()">
  <div id="wrapper" class="group">
    <img src="images/banner.jpg" id="banner" />

    <%= yield %>
    
</body>
</html>
